
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaiBanShow</title>
    <style>
        .ico {
            width: 150px;
            height: 150px;
        }

        .img {
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: red;
            border-radius: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
        }
       
        .num {
            font-size: 20px;
            font-weight: 600;
        }

        .name {
            align-self: left;
        }

        .gongwei {
            display: flex;
            flex-direction: row;
            border-style: solid;
            margin: 10px;
        }

        .body {
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-flex: 0;
            -webkit-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    </style>
</head>
<body class="body">

    <div class="gongwei">
        <div class="img" >
            <text class="num">1</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A01工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">张三</text>
            </div>
        </div>
    </div>

    <div class="gongwei">
        <div class="img" >
            <text class="num">2</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A02工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">李四</text>
            </div>
        </div>
    </div>
    <div class="gongwei">
        <div class="img" >
            <text class="num">3</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A03工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">王五</text>
            </div>
        </div>
    </div>
    <div class="gongwei">
        <div class="img" >
            <text class="num">4</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A04工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">赵六</text>
            </div>
        </div>
    </div>

    <div class="gongwei">
        <div class="img" style="">
            <text class="num">5</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A01工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">张三</text>
            </div>
        </div>
    </div>

    <div class="gongwei">
        <div class="img" >
            <text class="num">6</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A02工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">李四</text>
            </div>
        </div>
    </div>
    <div class="gongwei">
        <div class="img" >
            <text class="num">7</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A03工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">王五</text>
            </div>
        </div>
    </div>
    <div class="gongwei">
        <div class="img" >
            <text class="num">8</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A04工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">赵六</text>
            </div>
        </div>
    </div>

    <div class="gongwei">
        <div class="img" >
            <text class="num">9</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A01工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">张三</text>
            </div>
        </div>
    </div>

    <div class="gongwei">
        <div class="img" >
            <text class="num">10</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A02工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">李四</text>
            </div>
        </div>
    </div>
    <div class="gongwei">
        <div class="img" >
            <text class="num">12</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A03工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">王五</text>
            </div>
        </div>
    </div>
    <div class="gongwei">
        <div class="img" >
            <text class="num">12</text>
        </div>
        <div style="display:flex;flex-direction:column;margin:10px;justify-content:space-around;align-items: center;">
            <img class="ico" src="~/Content/前台.png" />
            <div class=" name">
                <text class="">工位名称：</text>
                <text class="num">综合拆解线A04工位</text>
            </div>
            <div class=" name">
                <text class="">员工：</text>
                <text class="num">赵六</text>
            </div>
        </div>
    </div>
</body>
</html>
