@model XiaoQingWa_Work_Model.Entity.TRecordDetailEntity

<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form">
        @Html.Hidden("ids", (string)ViewBag.ids)

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">任务单：</label>
            <div class="formControls col-xs-7 col-sm-8">
                @Html.DropDownListFor(m => m.BillNO, @ViewBag.Task as IEnumerable<SelectListItem>, new { type = "text", @class = "input-text",  @value = "", @placeholder = "" })
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-7 col-sm-8 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="button" id="btnSave" onclick="member_add()" value="提交">
            </div>
        </div>
    </form>
</article>

@section pagescripts{
    <script type="text/javascript">
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });

        });

        /*用户-添加*/
        function member_add() {
           
        var url = '@Url.Action("UpdateTask")';
        var params = $('form').serializeArray();
        $("#btnSave").attr('disabled', true);
        $("#btnSave").val("保存中...");
        $.post(url, params, function (data) {

            if (data.Value == "success") {
                layer.msg(data.Text, { icon: 1, time: 1000 }, function () {
                    layer_close();
                });
            } else {
                $("#btnSave").removeAttr('disabled');
                $("#btnSave").val("保存");
                layer.msg(data.Text, { icon: 2, time: 1000 });
            }
        });
        }
    </script>
}

