@{
    ViewBag.Title = "About";
}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页 <span class="c-gray en">&gt;</span>
    我的桌面
</nav>
<div class="page-container">
    <div class="panel mt-20 panel-default">
        <div class="panel-header">项目名称</div>
        <div class="panel-body">新金桥车间流水线缺陷统计</div>
    </div>
    <div class="panel mt-50 panel-default">
        <div class="panel-header">使用说明</div>
        <div class="panel-body">
            <ul>
                <li>流水线增删查改</li>
                <li>工位增删查改、停用/启用</li>
                <li>工位绑定/解绑设备</li>
                <li>设备增删查改/启用停用</li>
                <li>员工增删查改/设置员工可以工作的流水线</li>
                <li>拆解记录</li>
            </ul>
        </div>
    </div>
    <div class="panel mt-50 panel-default">
        <div class="panel-header">技术维护</div>
        <div class="panel-body">Email：quanshen@aliyun.com</div>
    </div>
</div>